<section class="main-content-container">
	<section class="main-content">


		<div class="songInfoFormContainer"><!-- Hide for clients -->
			<app-song-info-form [songInfoInput]="song" (songInfoUpdated)="updatedSongInfo($event)"></app-song-info-form>
		</div>

		<div class="songInfoDisplayer">
			<div class="songInfoDisplayer__title">
				<h1>Titulo: <span>{{song.title}}</span></h1>
			</div>
			<div class="songInfoDisplayer__artist">
				<h1>Artista: <span>{{song.artist}}</span></h1>
			</div>
			<div class="songInfoDisplayer__tempo">
				<h1>Tempo: <span>{{song.tempo}}bpm</span></h1>
			</div>
		</div>

		<section class="tagsContainer">
			<div>
				<strong>Categorias</strong>
			</div>

			<div class="tagsFormContainer"><!-- Hide for clients -->
				<app-categories-form [fruits]="song.categories"
					(tagsUpdated)="updatedTags($event)"></app-categories-form>
			</div>
			<div class="tagsList"><!-- NGFOR -->
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
			</div>

		</section>

		<section class="audios"> <!-- Hide if not files available -->
			<mat-list>
				<ng-container><!-- Hide if Not audios available -->
					<div mat-subheader>Audios</div>
					<mat-list-item *ngFor="let folder of audiosList" matRipple>
						<mat-icon matListItemIcon>library_music</mat-icon>
						<div matListItemTitle>
							<a [href]="staticFilesDir+folder" target="_blank">{{folder}}</a>
						</div>
					</mat-list-item>
				</ng-container>
				<ng-container><!-- Hide if Not Files available -->
					<mat-divider></mat-divider>
					<div mat-subheader>Descargables</div>
					<mat-list-item *ngFor="let file of otherFilesList" matRipple>
						<mat-icon matListItemIcon>attachment</mat-icon>
						<div matListItemTitle>
							<a [href]="staticFilesDir+file" [download]="file">{{file}}</a>
						</div>
					</mat-list-item>
				</ng-container>
			</mat-list>

		</section>


	</section>
	<!-- <section class="main-content-2"></section> -->
</section>