.main-content-container{
	padding-top: 30px;
}

.main-content-2 {
	width: 20vw;
}

.tagsContainer {
	margin-top: 20px;
}

.tagsList {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

.tagsList__item {
	margin: 0 0.5rem 0.5rem 0;
}

.admin-section {
	border: 2px solid black;
	box-shadow: 0 0 10px black;
}

.lyric-area {
	padding-top: 30px;
	padding-bottom: 30px;
}

.songInfoDisplayer__title{
	transition: all .2s;
	border-radius: 5px;
	scale: 1;
	&:hover{
		background-color: rgba(255, 255, 255, 0.295);
		scale: 1.01;
	}
	&:active{
		scale: 0.98;
	}
}

@media screen and (max-width:768px) {
	.main-content-2 {
		width: 94vw;
	}
}