<section class="main-content-container">
	<section class="main-content">


		<div class="songInfoFormContainer"><!-- Hide for clients -->
			<app-song-info-form [songInfoInput]="song" (songInfoUpdated)="updatedSong($event)"></app-song-info-form>
		</div>

		<div class="songInfoDisplayer">
			<h1>
				<div class="songInfoDisplayer__title">
					Titulo: <span>{{song.title}}</span>
				</div>
				<div class="songInfoDisplayer__artist">
					Artista: <span>{{song.artist}}</span>
				</div>
				<div class="songInfoDisplayer__tempo">
					Tempo: <span>{{song.tempo}}bpm</span>
				</div>
			</h1>
		</div>

		<section class="tagsContainer">
			<div>
				<strong>Categorias</strong>
			</div>
			<div class="tagsFormContainer"><!-- Hide for clients -->
				<app-categories-form [fruits]="song.categories"
					(tagsUpdated)="updatedTags($event)"></app-categories-form>
			</div>
			<div class="tagsList"><!-- NGFOR -->
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
				<div class="tagsList__item">
					<mat-chip>Orange</mat-chip>
				</div>
			</div>
		</section>

		<section class="lyric-area">
			<app-lyrics [lyricsInput]="song.lyric" (lyricsChange)="updatedLyrics($event)"></app-lyrics>
		</section>

		<section class="audios"> <!-- Hide if not files available -->
			<mat-list>
				<ng-container><!-- Hide if Not audios available -->
					<div mat-subheader>Audios <span *ngIf="audiosList.length==0"><i>(0)</i></span></div>
					<mat-list-item *ngFor="let folder of audiosList" matRipple>
						<mat-icon matListItemIcon>library_music</mat-icon>
						<div matListItemTitle>
							<a [href]="staticFilesDir+folder" target="_blank">{{folder}}</a>
						</div>
					</mat-list-item>
				</ng-container>
				<ng-container><!-- Hide if Not Files available -->
					<mat-divider></mat-divider>
					<div mat-subheader>Descargables <span *ngIf="otherFilesList.length==0"><i>(0)</i></span></div>
					<mat-list-item *ngFor="let file of otherFilesList" matRipple>
						<mat-icon matListItemIcon>attachment</mat-icon>
						<div matListItemTitle>
							<a [href]="staticFilesDir+file" [download]="file">{{file}}</a>
						</div>
					</mat-list-item>
				</ng-container>
			</mat-list>

		</section>

	</section>
	<section class="main-content-2">
		<app-admin-controls-song [songInput]="song" (songAdminUpdatesEmmiter)="updatedSong($event)"
			(songRequestDeletion)="adminRequireDeletion()"></app-admin-controls-song>
	</section>
</section>