.donation-area {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-color: rgb(16, 102, 52);
	background-image: url("^assets/images/hojas.gif");
	background-size: 100vw auto;
	background-position: bottom;
	&:hover{
		background-blend-mode: hard-light;
	}
}

.donation-link {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	padding: 30px 40px;
	background-color: #ffd54f;
	background-image: linear-gradient(45deg, #673ab7, transparent, #673ab7);
	background-size: 70vw;
	background-position: top left;
	color: aliceblue !important;
	border-radius: 20px;
	box-shadow: 5px 8px 10px 1px #0000009c;
	transition: all .2s;
	scale: 1;

	&:hover,
	&:active {
		background-position: center center;
	}
	
	&:active {
		scale: 0.95;
	}
}

@media screen and (max-width:600px) {
	.donation-link {
		background-size: 70vh;
	}
}