<form [formGroup]="songInfoForm">
	<div>
		<mat-form-field class="example-full-width w100">
			<mat-label>Nombre</mat-label>
			<input formControlName="title" matInput placeholder="Ex. Pizza" value="Sushi">
		</mat-form-field>
	</div>

	<div>
		<mat-form-field class="example-full-width w100">
			<mat-label>Artista</mat-label>
			<input formControlName="artist" matInput placeholder="Ex. Pizza" value="Sushi">
		</mat-form-field>
	</div>

	<div>
		<mat-form-field class="example-full-width w100">
			<mat-label>Tempo</mat-label>
			<input formControlName="tempo" matInput placeholder="Ex. Pizza" value="Sushi" type="number">
		</mat-form-field>
	</div>
</form>