<ng-container *ngIf="editingNow || song.sources.length>0">
	<div class="list-container">
		<div>
			<div class="list-flex">
				<h3>
					<span>Enlaces relacionados</span>
				</h3>
				<div *ngIf="editingNow">
					<button mat-flat-button color="primary" (click)="addLink()">
						<span>Agregar enlace</span>
					</button>
				</div>
			</div>
		</div>
		<div>
			<ng-container *ngFor="let item of song.sources;index as index">
				<mat-divider></mat-divider>
				<div mat-ripple class="list-flex list-item">
					<span>
						<a [href]="item" target="_blank" rel="noopener noreferrer">{{item}}</a>
					</span>
					<div *ngIf="editingNow">
						<button mat-flat-button color="warn" (click)="removeSource(index)">
							<span>Eliminar</span><mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
				<mat-divider></mat-divider>
			</ng-container>
		</div>
	</div>
</ng-container>