.main-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.warn-text {
	color: red;
}

.display-user-info,
.other-actions {
	margin-top: 50px;
	margin-bottom: 50px;
}

.controls-container {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.control-item {
	margin-right: 10px;
}