.ql-container {
	font-size: 20px;
}

button {
	color: white !important;
}

.ql-bold {
	color: white !important;
}

.ql-snow, .ql-toolbar button, .ql-snow .ql-toolbar button {
	color: white !important;
}