<div class="searchbar">
	<div class="searchbar-content">
		<div>
			<form [formGroup]="formSearch">
				<mat-form-field>
					<mat-label><span class="noSelect">Buscar</span></mat-label>
					<input type="text" formControlName="searchterm" matInput>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</form>
		</div>

		<div class="formFilter noSelect" [formGroup]="formFilterData">
			<mat-form-field>
				<mat-label><span class="noSelect">Categoría</span></mat-label>
				<mat-select formControlName="tag" class="noSelect">
					<mat-option value="">-- Todos --</mat-option>
					<mat-optgroup [ngClass]="'noSelect'" *ngFor="let group of categories" [label]="group.name">
						<mat-option *ngFor="let tag of group.subcategories" [value]="tag">
							<span class="noSelect">{{tag}}</span>
						</mat-option>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</div>

	</div>
	<ng-container *ngIf="searchTerm.length>0">
		<div class="results-search-from noSelect"><span>Resultados: {{searchTerm | titlecase}}</span></div>
	</ng-container>
</div>




<section class="songs-list">
	<ng-container *ngFor="let song of songsListFiltered">
		<mat-card class="card" mat-ripple [routerLink]="['','song',song.url]">
			<mat-card-header class="link-cursor">
				<mat-card-title class="song-title">
					<span>{{song.url}} - {{song.title}}</span>
				</mat-card-title>
			</mat-card-header>
			<mat-card-actions>
				<div class="categories-container">
					<ng-container *ngFor="let tag of song.categories">
						<div class="category">
							<mat-chip>{{tag | titlecase}}</mat-chip>
						</div>
					</ng-container>
				</div>
			</mat-card-actions>
		</mat-card>
	</ng-container>
</section>
<section>
	<ng-container *ngIf="songsListFiltered.length==0">
		<div class="noSelect" style="text-align: center;">
			<span>---- Ninguno ----</span>
		</div>
	</ng-container>
</section>

<app-donation></app-donation>