<div class="searchbar">
	<div class="searchbar-content">
		<div>
			<form [formGroup]="formSearch">
				<mat-form-field>
					<mat-label>Buscar</mat-label>
					<input type="text" formControlName="searchterm" matInput>
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</form>
		</div>

		<div>
			<button mat-button [matMenuTriggerFor]="category">Categoría</button>
			<mat-menu #category="matMenu">
				<button mat-menu-item (click)="chooseOneCategory('')">Todos</button>
				<button mat-menu-item [matMenuTriggerFor]="misa">Misa</button>
				<button mat-menu-item [matMenuTriggerFor]="tiemLit">Tiempo Litúrgico</button>
				<button mat-menu-item [matMenuTriggerFor]="sacramentos">Sacramentos</button>
				<button mat-menu-item [matMenuTriggerFor]="santos">Santos</button>
			</mat-menu>

			<mat-menu #misa="matMenu">
				<ng-container *ngFor="let item of categories['misa']">
					<button mat-menu-item (click)="chooseOneCategory(item)">{{item | titlecase}}</button>
				</ng-container>
			</mat-menu>

			<mat-menu #tiemLit="matMenu">
				<ng-container *ngFor="let item of categories['tiempo liturgico']">
					<button mat-menu-item (click)="chooseOneCategory(item)">{{item | titlecase}}</button>
				</ng-container>
			</mat-menu>

			<mat-menu #sacramentos="matMenu">
				<ng-container *ngFor="let item of categories['sacramentos']">
					<button mat-menu-item (click)="chooseOneCategory(item)">{{item | titlecase}}</button>
				</ng-container>
			</mat-menu>

			<mat-menu #santos="matMenu">
				<ng-container *ngFor="let item of categories['santos']">
					<button mat-menu-item (click)="chooseOneCategory(item)">{{item | titlecase}}</button>
				</ng-container>
			</mat-menu>
		</div>
	</div>
	<ng-container *ngIf="resultsFrom.length>0">
		<div class="results-search-from"><span>Resultados: {{resultsFrom | titlecase}}</span></div>
	</ng-container>
</div>




<section class="songs-list">
	<ng-container *ngFor="let song of songsListFiltered">
		<mat-card class="card" mat-ripple>
			<mat-card-header [routerLink]="['','song',song.public_id]" class="link-cursor">
				<mat-card-title class="song-title">
					<span>{{song.title}}</span>
				</mat-card-title>
			</mat-card-header>
			<mat-card-actions>
				<div class="categories-container">
					<ng-container *ngFor="let tag of song.categories">
						<div class="category">
							<mat-chip>{{tag | titlecase}}</mat-chip>
						</div>
					</ng-container>
				</div>
			</mat-card-actions>
		</mat-card>
	</ng-container>
</section>

<section class="donation-area">
	<a href="#" target="_blank" class="donation-link">
		<span>Donación</span>
	</a>
</section>