.searchbar {
	background-color: #4a4a4a;
	padding: 20px 5px;
}

.searchbar-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.results-search-from {
	text-align: center;
}


.songs-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-auto-rows: max-content;
	min-height: 50vh;
}

.card {
	border: 1px solid rgb(255 255 255 / 26%);
	border-radius: 15px;
	scale: 1;
	transition: all .2s;
	margin: 10px;

	&:hover {
		scale: 1.02;
	}

	&:active {
		scale: 0.95;
	}
}

.song-title {
	height: 70px;
}

.categories-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.category {
	margin: 5px;
}



@media screen and (max-width:600px) {

	.songs-list {
		display: inline-block;
		width: 100%;
		height: 100%;
		grid-template-columns: unset;
		grid-auto-rows: unset;
	}

	.song-title {
		height: unset;
	}

	.card {
		height: unset;
		margin: 25px 10px;
	}

	.mdc-card__actions {
		min-height: unset;
	}
}

@media screen and (max-width:480px){
	.searchbar{
		padding:0px;
	}
	.searchbar-content{
		flex-direction: column;
	}
}