html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.main-content{
	width: 50vw;
}

.w100{
	width: 100%;
}

a{
	text-decoration: none;
}

@media (max-width: 768px) {
	.main-content-container{
		justify-content: center;
		align-items: center;
	}
	.main-content{
		width: 94vw;
	}
}